<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>After School Club</title>

    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <!-- <script src="products.js"></script> -->
  </head>


  <body>
    <div id="course">
      <h1 v-text="siteName"></h1>
      <input type="text"  placeholder="Search Lessons" id="searchBox" v-model="SearchResultLesson" v-on:keyup="SearchActivated"/>

     
      <h3>Sort By</h3>

      <div id="sort">
      
        <p>
          <input type="radio" id="subject" value="Subject" v-model="sort.method" />
        <label for="subject">Subject</label>
        </p>

        <p>
          <input type="radio" id="location" value="Location" v-model="sort.method" />
        <label for="location">Location</label>
        </p>

        <p>
          <input type="radio" id="price" value="Price" v-model="sort.method" />
        <label for="price">Price</label>
        </p>

        <p>
          <input type="radio" id="availability" value="Availability" v-model="sort.method" />
        <label for="availability">Availability</label>
        </p>
      </div>




      <div id="sort">
        <p>
          <input type="radio" id="ascending" value="Ascending" v-model="sort.order" />
        <label for="ascending">Ascending</label>
        </p>

        <p>
          <input type="radio" id="dscending" value="Descending" v-model="sort.order" />
        <label for="dscending">Descending</label>
        </p>
      </div>




      <div class="cart" v-if=" totalItemInTheCart>0" >
      <button v-on:click="toggleShowProduct">
        {{totalItemInTheCart}}
        <span class="fas fa-cat"></span>
        Shopping Cart
      </button>
      <button @click="saveProductToDB">
        <span class="fas fa-cat"></span>
        Test Save a Product to the DB
      </button>
      </div>
      <div class="cart" v-else>
        <button disabled>
          {{totalItemInTheCart}}
          <span class="fas fa-cat"></span>
          Shopping Cart
      </div>

      <div class="container">
        <ul v-if="SearchItemsView">
          <h3>Search Results</h3>
            <li v-for="lesson in FilterLessons"> 
           
            <img v-bind:src="serverURL + lesson.path"/><br>
            <p>Subject: {{lesson.subject}} </p>
            <p>Location: {{lesson.location}}</p>
            <p>Price: {{lesson.price}}</p>
            <p>Space: {{lesson.space}}</p>
  
          </li>
        </ul>
      </div>




      <div v-if="showProduct" id="lessons">
        <div v-for="product in sortedProducts" class="container">
          
          <img v-bind:src="serverURL + product.path" />
          <p>Subject: {{product.subject}}</p>
          <p>Location: {{product.location}}</p>
          <p>Price: {{product.price}}</p>
          <p>Space: {{product.space}}</p>
          <button
            v-on:click="clickFunction(product)"
            v-if="canAddToCart(product)"
          >
            <span class="fas fa-cart-plus"></span> Add to the Cart
          </button>

          <button v-else disabled>Add to the Cart</button>
        
      </div>
      </div>



      <div v-else>
        <h2>welcome to checkout page</h2>
        <div class="checkoutContainer"> 
        <div v-for="item in sortedProducts" v-if="cartId.includes(item.id)" class="container">
          <img v-bind:src="serverURL + item.path" />
          <p>Subject: {{item.subject}}</p>
          <p>Location: {{item.location}}</p>
          <p>Price: {{item.price}}</p>
          <p>Space: {{CartedItemSpacesCount(item.id)}}</p>
          <!-- <button v-on:click="deleteItemFromCart(item),addSpaceValue(item)">Remove</button> -->
          <button v-on:click="RemoveCartItem(item),deleteItemFromCart(item)">Remove</button>
        </div>
        </div> 
        
        <div class="information">
        <h2>Enter Your Information</h2>

        <form id="form" action="/" method="GET" onkeyup="checkInput()">
          <div>
            <label for="name">Name</label>
            <input v-model.trim="order.name" id="nameLetter" name="name" type="text" required  onkeyup="lettersOnly(this)"/ >
            
            <script> 
            const inputBox = document.querySelector("#nameLetter");
            inputBox.addEventListener("input", function() {
              this.value = this.value.replace(/[^a-zA-Z]/g, "");
            });
            </script>

          </div>
          <div>
            <label for="phone">Phone</label>
            <input v-model.number="order.phoneNumber" id="phone" name="phone" type="number" required onkeyup="numbersOnly(this)"/>
          </div>
          <!-- <button id="checkOut" type="button" v-on:click="submitOrder && updateProducts">Check Out</button> -->
          <button id="checkOut" type="button" v-on:click="submitOrder">Check Out</button>
          
        </form>
      </div>
      </div>
    </div>


    <script type="text/javascript">
      let course = new Vue({
        el: "#course",
        data: {
          serverURL: "https://lesson-env.eba-dn8ginxr.eu-west-2.elasticbeanstalk.com/",
          siteName: "After School Club",
          showProduct: true,
          SearchResultLesson:null,
          // product: {
          //   id: 000,
          //   siteName: "After School Club",
          //   subject: "Math",
          //   location: "London",
          //   price: "100",
          //   path: "math.png",
          //   space: 5,
          // },
          orders:[],
          products: [],//products,
          // search:"",
          searchResults: [],
          cart: [],
          cout:0,
          cartId:[],
          sort:{
            method:"Subject",
            order:"Ascending",
          },
          order:{
            name:" ",
            phoneNumber:" ",
          },
          SearchItemsView:false,
        },
        

        
        created: function() {
          fetch("https://lesson-env.eba-dn8ginxr.eu-west-2.elasticbeanstalk.com/collections/products").then(   
          function(response){
            response.json().then(
              function(json){
                course.products=json;
              }
            )
          }
          );
//           fetch("https://lesson-env.eba-dn8ginxr.eu-west-2.elasticbeanstalk.com/collections/products")
// .then(response => {
//     if(!response.ok) {
//         throw Error(response.statusText);
//     }
//     return response.json()
// })
// .then(json => {
//     course.products = json;
// })
// .catch(error => {
//     console.log("Error: ", error);
// });

        },
         
        methods: {
          addItemToCart: function (product) {
            if (product.space > 0) {
              this.cart.push(product);
              this.cartId.push(product.id);
              
            }
          },

          changeSpaceValue: function (product) {
            if (product.space > 0) {
              product.space -= 1;
            } 
          },

          clickFunction: function (product) {
            this.addItemToCart(product);
            this.changeSpaceValue(product);
          },
          RemoveCartItem(product){
            for (let i = 0; i < this.cartId.length; i++) {
              if (this.cartId[i] == product.id) {
                this.cartId.splice(i, 1);
                product.space+=1;
                return}
              }
            },

          deleteItemFromCart: function(product){
            this.cart.pop(product);
          },
          addSpaceValue:function(product){
            product.space += 1;
          },
          canAddToCart(product) {
            return product.space > 0;
          },
          toggleShowProduct() {
            this.showProduct = this.showProduct ? false : true;
          },
          CartedItemSpacesCount(id) {
            let count = 0;
            for (let i = 0; i < this.cartId.length; i++) {
                if (this.cartId[i] === id) {
                count++;
                }
            }
            return count;
            },
            SearchActivated: function() {
              this.SearchItemsView = true;
              if(this.SearchResultLesson==""|| null){
                this.SearchItemsView = false;
              }
              else{
              fetch("https://lesson-env.eba-dn8ginxr.eu-west-2.elasticbeanstalk.com/collections/products/search/"+this.SearchResultLesson).then(
                function(response) {
                  response.json().then(
                    function(json) {
                      course.searchResults=json;
                    }
                  )
                }
              )
            }
            },

            
          submitForm(){
            alert('Order has been submitted!')
          },

          submitOrder(){
             
            const newOrder={
              "name":course.order.name,
              "phone":course.order.phoneNumber,
              "lessonId":course.cart.map(item=>item._id),
              // "lessonId":this.cartId[i],
              "space":course.cart.map(item=>5-item.space)

            }
            fetch("https://lesson-env.eba-dn8ginxr.eu-west-2.elasticbeanstalk.com/collections/orders", {
              method: "POST", //set the HTTP method as "POST"
              headers: {
                "Content-Type": "application/json", //set the data type as JSON
              },
              body: JSON.stringify(newOrder) //need to stringigy the JSON
              }).then(
              function(response) {
                response.json().then(
                  function(json) {
                    alert("Success: " + json.acknowledged);
                    console.log("Success: " + json.acknowledged);
                    course.orders.push(newOrder);
                  }
                )}
              ); 
             
             

              const convertIntToHexString = (num) => {
                let hexString = num.toString(16);
                while (hexString.length < 24) {
                  hexString = "0" + hexString;}
                  return hexString;
                };

                for (let i = 0; i < course.cart.length; i++) {
              const productsUpdate ={
              "lessonId":convertIntToHexString(course.cart[i]._id),
              // "lessonId":course.cart.map(item=>item._id),
              // "space":course.cart.map(item=>item.space)
              "space": course.cart[i].space
            }
            // for (const lessonId of productsUpdate.lessonId) {
                fetch(`https://lesson-env.eba-dn8ginxr.eu-west-2.elasticbeanstalk.com/collections/products/${productsUpdate.lessonId}`, {
                  method: "PUT",
                  headers:{
                            "Content-Type": "application/json",
                            },
                  body: JSON.stringify(productsUpdate)
                            }).then(res=>{
                              return res.json();
                            }).then((data) => {
                              console.log("Successfully updated document with lessonId:", lessonId);

                            }).catch((error)=>{
                              console.log(error);
                            });
                          }
              
              alert('Order submitted and user account has been registered, Successfully!');
              
              },
                // only for one lesson which is math london
          
          saveProductToDB(){
            const newProduct={
              "_id": "63c7b24b9e028fa31b59dfc5",
              "id": 1,
              "siteName": "After School Club",
              "subject": "Math",
              "location": "London",
              "price": 100,
              "path": "math.png",
              "space": 5
            }
            //set the url to your server and route
            //fetch("http://localhost:3000/collections/products", {
            fetch("https://lesson-env.eba-dn8ginxr.eu-west-2.elasticbeanstalk.com/collections/products", {
              method: "POST", //set the HTTP method as "POST"
              headers: {
                "Content-Type": "application/json", //set the data type as JSON
              },
              body: JSON.stringify(newProduct) //need to stringigy the JSON
              }).then(
              function(response) {
                response.json().then(
                  function(json) {
                    alert("Success: " + json.acknowledged);
                    console.log("Success: " + json.acknowledged);
                    course.products.push(newProduct);
                  }
                )}
              ); 
          }
          
        },
          
        computed: {

          totalItemInTheCart: function () {
            return this.cart.length || "";
          },
          FilterLessons(){
            if(!this.SearchResultLesson)return this.products
            let SearchResultLesson = this.SearchResultLesson.toLowerCase()
            return this.searchResults.filter(oneLesson=> {
              return oneLesson.subject.toLowerCase().includes(SearchResultLesson)
            })
          },

          sortedProducts() {
            // the comparison function that defines the order
            if(this.sort.method=='Subject'){
              if(this.sort.order=='Ascending'){
                function compare(a, b) {
                if (a.subject.toLowerCase()> b.subject.toLowerCase()) return 1;
                if (a.subject.toLowerCase() < b.subject.toLowerCase() ) return -1;
                return 0;
            }
          }
          if(this.sort.order=='Descending'){
            function compare(a, b) {
             
              if (a.subject.toLowerCase()> b.subject.toLowerCase()) return -1;
              if (a.subject.toLowerCase() < b.subject.toLowerCase() ) return 1;
             return 0;
            }
          }
            }

            if(this.sort.method=='Location'){
              if(this.sort.order=='Ascending'){
                function compare(a, b) {
                if (a.location.toLowerCase()> b.location.toLowerCase()) return 1;
                if (a.location.toLowerCase() < b.location.toLowerCase() ) return -1;
                return 0;
            }
          }
          if(this.sort.order=='Descending'){
            function compare(a, b) {
             
              if (a.location.toLowerCase()> b.location.toLowerCase()) return -1;
              if (a.location.toLowerCase() < b.location.toLowerCase() ) return 1;
             return 0;
            }
          }
            }

             else if(this.sort.method=='Price'){
              if(this.sort.order=='Ascending'){
                function compare(a, b) {
             
                if (a.price > b.price) return 1;
                if (a.price < b.price) return -1;
                return 0;
             
            }
          }
          if(this.sort.order=='Descending'){
            function compare(a, b) {
             
             if (a.price > b.price) return -1;
             if (a.price < b.price) return 1;
             return 0;
            }
          }
        }

        else if(this.sort.method=='Availability'){
              if(this.sort.order=='Ascending'){
                function compare(a, b) {
             
                if (a.space> b.space) return 1;
                if (a.space < b.space) return -1;
                return 0;
             
            }
          }
          if(this.sort.order=='Descending'){
            function compare(a, b) {
             
             if (a.space > b.space) return -1;
             if (a.space < b.space) return 1;
             return 0;
            }
          }
        }
       
            // sort the 'products' array and return it
            return this.products.sort(compare);
          },


          filteredLesson:function(){
            return this.products.filter((product)=>{
              return (product.subject.toLowerCase().match(this.search)||product.location.toLowerCase().match(this.search))
            });
          }
          

        
        }
      });
    </script>
  </body>
</html>